<launch>
    <!-- node_name will be the prefix of three action node name in behavior tree -->
    <arg name="node_name" default="set_image"/>

    <arg name="forward_camera_topic" default="/zedm_forward/zed_node/rgb/image_rect_color"/>

    <arg name="downward_camera_topic" default="/d435_downward/color/image_raw"/>

    <arg name="backward_camera_topic" default="/d435_backward/color/image_raw"/>

    <node pkg="drone_perception" type="image_switch" name="$(arg node_name)" clear_params="true" output="screen">
        <remap from="forward/image" to="$(arg forward_camera_topic)"/>
        <remap from="downward/image" to="$(arg downward_camera_topic)"/>
        <remap from="backward/image" to="$(arg backward_camera_topic)"/>
    </node>
</launch>